  <div class="bhg-main">
		<div>
		<a class="logo h" href="/"><img src="/img/nbp-kdo.png" alt="Нижегородское Бюро Путешествий"></a>
		</div>
		<div style="color:#006F9F;font-size: 1.25em;text-shadow: 1px 1px 3px #CCC;">
		<br>
		Летим сейчас!<br><small><small><div style="width:90%;">Мы работаем</div><div style="width:90%;">для вас 10 сезон.</div></small></small>
		</div>
		<div><a class="h" href="/map/index.html" target="_blank">
		<br>
		<b>НИЖНИЙ НОВГОРОД</b>,<br>
		ул. Маршала Баграмяна, 1, 123<br>
		</a><br>
		Моб.: <a href="tel:+79200099007">+7-920-00-99-007</a><br>
		</div>
		<div style="float:right;">
		<!-- a href="/?n=1000000012">Все контакты</a><br -->
		<a href="mailto:info@52tour.ru">Написать нам</a><br>
		<a href="https://vk.com/52tour_ru" title="ВКонтакте" target="_blank">ВКoнтакте</a><br>
		<a href="https://twitter.com/BHGtravel" title="twitter" target="_blank">twitter</a><br>
		<a href="http://bhg-travel.livejournal.com/" title="Живой Журнал" target="_blank">ЖЖ</a>
		</div>
	</div>
