	<div class="bhg-menu" id="bhg-menu">
		<div class="cssmenu-vertical">
			<div id="slide" class="slider">
                <!-- div><img src="img/banners/aviabilet.jpg"></div>
                <div><img src="img/banners/r482.jpg"></div>
                <div><img src="img/banners/r499.jpg"></div>
                <div><img src="img/banners/r456.jpg"></div>
                <div><img src="img/banners/r515.jpg"></div -->
                <div><img src="img/banners/abkhasia.jpg"></div>
                <div><img src="img/banners/bali-bala.jpg"></div>
                <div><img src="img/banners/chech-svo.jpg"></div>
                <div><img src="img/banners/crimea-tree.jpg"></div>
		    </div>
		<a href="/bulgaria.html" title=""><div class="menubutton c"><img src="/img/bhg_Bulgaria.png" style="height:1em;" alt=""> Болгария</div></a>
		<a href="/vietnam.html" title=""><div class="menubutton c"><img src="/img/bhg_Vietnam.png" style="height:1em;" alt=""> Вьетнам</div></a>
		<a href="/goa.html" title=""><div class="menubutton c"><img src="/img/bhg_India.png" style="height:1em;" alt=""> Гоа</div></a>
		<a href="/greece.html" title=""><div class="menubutton c"><img src="/img/bhg_Greece.png" style="height:1em;" alt=""> Греция</div></a>
		<a href="/dominikana.html" title=""><div class="menubutton c">Доминикана</div></a>
		<a href="/egypt.html" title=""><div class="menubutton c">Египет</div></a>
		<a href="/spain.html" title=""><div class="menubutton c">Испания</div></a>
		<a href="/italy.html" title=""><div class="menubutton c">Италия</div></a>
		<a href="/cyprus.html" title=""><div class="menubutton c"><img src="/img/bhg_Cyprus.png" style="height:1em;" alt=""> Кипр</div></a>
		<a href="/cuba.html" title=""><div class="menubutton c">Куба</div></a>
		<a href="/mauritius.html" title=""><div class="menubutton c">Маврикий</div></a>
		<a href="/maldives.html" title=""><div class="menubutton c">Мальдивы</div></a>
		<a href="/russia.html" title=""><div class="menubutton c">Россия</div></a>
		<a href="/hotels/russia_autobus/index.html" target="_blank" title=""><div class="menubutton c" style="color:darkred;">Россия. Автобусные туры</div></a>
		<a href="/hotels/nn/index.html" title="" target="_blank"><div class="menubutton c">Санатории. Нижегородская область</div></a>
		<a href="/seychelles.html" title=""><div class="menubutton c">Сейшельские острова</div></a>
		<a href="/thailand.html" title=""><div class="menubutton c"><img src="/img/bhg_Thai.png" style="height:1em;" alt=""> Таиланд</div></a>
		<a href="/tunis.html" title=""><div class="menubutton c"><img src="/img/bhg_Tunisia.png" style="height:1em;" alt=""> Тунис</div></a>
		<a href="/turkey.html" title=""><div class="menubutton c"><img src="/img/bhg_Turkey.png" style="height:1em;" alt=""> Турция</div></a>
		<a href="/czech.html" title=""><div class="menubutton c">Чехия</div></a>
		<a href="/uae.html" title=""><div class="menubutton c"><img src="/img/bhg_Emirates.png" style="height:1em;" alt=""> Эмираты</div></a>
		<a href="/1000000014.html"><div class="menubutton">найти страну</div></a>
		<!--
		<div id="slide4" class="slider">
			<div><img src="img/banners/turkey_002.jpg"></div>
			<div><img src="img/banners/beach-sand.jpg"></div>
		</div>
		<div class="menubutton" onclick="g('currency',this)">Курс доллара и евро ЦБ РФ</div>
		-->
		</div>
	</div>