<!doctype html>
<html lang="{{ site.lang | default: "ru-RU" }}">
<head>
		<title>Нижегородское Бюро Путешествий; тел. +7 (920) 00-99-007; {{ page.title | default: site.title | default: site.github.repository_name }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<link rel="shortcut icon" type="image/x-icon"  href="favicon.ico">
		<link type="text/css" rel="stylesheet" href="css/bhg.css" media="all">
		<!--[if lte IE 8]><link type="text/css"  rel="stylesheet" href="css/2.css" media="all"><![endif]-->
		<link type="text/css"  rel="stylesheet" href="css/2.css" media="all and (min-width: 481px)">
</head>
<body>
	{% include header.html %}
	<div class="bhg-center">
		<div id="bhg-content" class="bhg-content">
			<div id="sun" class="content"> <!-- if($d[0]!=3 -->
		
	<header class="page-header" role="banner">
		<h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
		<h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
	</header>
	{{ content }}

			</div>
		<div class="bhg-action" id="bhg-action">
		</div>
		</div>
		{% include menu.html %}
	</div>
	
	{% include footer.html %}
	<script src="js/jquery-1.9.1.min.js"></script><script src="js/webshim-1.16.0/js-webshim/minified/polyfiller.js"></script><script src="js/script.js"></script>
</body>
</html>
